html, body {
  background-color: #121213;
  height: 100%;
  margin: 0;
  padding: 0;
}

.parent {
  position: fixed;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  height: 100%;
  width: 100%;
}

.form {
  width: 100%;
  height: 20%;
}

#map {
  margin-top: 2%;
  height: 80%;
  width: 90%;
}

.button {
  background-color: #538D4E;
  border: none;
  color: white;
  padding: 14px;
  width: fit-content;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

input {
  width: 20%;
  padding: 15px;
  border: none;
  background: #f1f1f1;
}

@media screen and (max-width: 600px) {
  input {
    width: 70%;
  }

  .green {
    width: 20%;
  }
}