{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Exordle - A Daily Word Game</title>
  </head>
  <body class="container">
    <div class="parent">
      <div id="forms">{% for i in range %}
        <form id="{{ i }}" autocomplete="off">
          {% csrf_token %}
          <input type="hidden" name="guess" value="{{ i }}">
          <div class="word">{% for j in word_range %}
            <input type="text" name="{{ j }}" maxlength="1" {% if i != 1 %}disabled{% endif %}>{% endfor %}
          </div>
        </form>{% endfor %}
      </div>
    </div>

    <div class="hint">
      <button id="hint" class="green">HINTS</button>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static '/js/script.js' %}"></script>
</html>