{% load static %}

<div class="form-popup" id="helpModal">
  <span id="closeHelp" class="close" title="Close Modal">&times;</span>
  <br>
  <h1 class="title">How To Play</h1>
  <h4 class="title"><br>
    Guess the EXORDLE.
    <br><br>
    Each guess must be a valid word or a place on campus. Hit the enter button to submit.
    <br><br>
    After each guess, the color of the tiles will change to show how close your guess was to the word.
    <br><br>
    The objetive of the game is to guess locations on campus. To obtain points you must check in at the correct location.
  </h4>
  <img class="helpImage" src="{% static '/img/perfect.png' %}" alt="exordle perfect">
  <h5 class="title">The letter <strong>C</strong> is in the word and in the correct spot.<h5>

  <img class="helpImage" src="{% static '/img/correct.png' %}" alt="exordle correct">
  <h5 class="title">The letter <strong>O</strong> is in the word but in the correct spot.<h5>

  <img class="helpImage" src="{% static '/img/wrong.png' %}" alt="exordle wrong">
  <h5 class="title">The letter <strong>E</strong> is not in the word in any spot.<h5>
</div>