{% load static %}
{% load game_extras %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static '/img/logo.png' %}">
    <link rel="stylesheet" href="{% static '/css/game.css' %}">
    <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
    <script src="https://kit.fontawesome.com/aac2e10b00.js" crossorigin="anonymous"></script>
    <title>Exordle - A Daily Word Game</title>

    <script>
      const cssKeyboard = {{ css_keyboard|safe }};
    </script>
  </head>
  <body class="container">
    {% include '../navbar.html' %}
    <div id="help" class="information" onclick="helpButton()">
      <i class="fa fa-question-circle fa-2x"></i>
    </div>
    <h1 id="points">Points: {{ game_user.points}}</h1>
    <h1 id="wins">Wins: {{ game_user.wins }}</h1>
    <h4 id="checkInText" class="checkIn"></h4>
    <div class="parent">
      <div id="forms">{% for i in guess_range %}
        <form id="{{ i }}" autocomplete="off">
          {% csrf_token %}
          <input type="hidden" name="guess" value="{{ i }}">
          <div class="word">{% if guesses|exists:i %}{% for j in guesses|get:i %}
            <input inputmode="none" type="text" name="{{ forloop.counter }}" value="{{ j.upper }}" class="{{ css_guesses|get_css:i|get:forloop.counter }}" maxlength="1" disabled>{%endfor %}{% else %}{% for j in word_range %}
            <input inputmode="none" type="text" name="{{ j }}" maxlength="1" {% if i|add:"-1" != guesses|length %}disabled{% endif %}>{% endfor %}{% endif %}
          </div>
        </form>{% endfor %}
      </div>
    </div>
    {% if not checked_in %}
    <div class="hint">{% if success %}
      <button onclick="checkIn()" id="hint" class="green">CHECK IN</button>{% else %}
      <button onclick="hintButton()" id="hint" class="green">HINTS</button>{% endif %}
    </div>
    {% endif %}
    <div class="form-popup" id="myForm">
      <form id="submitHint" class="form-container" autocomplete="off" onsubmit="return submitHint(event)">
        <span id="close" class="close" title="Close Modal">&times;</span>
        <input type="text" placeholder="Enter Code" name="code">
        <center>
          <button id="submitHintButton" style="width: 30%;" type="submit" class="green">Submit</button>
          <button onclick="scanQr()" type="button" style="width: 30%;" class="green">Scan</button>
        </center>
      </form>
    </div>
    {% include './help_modal.html' %}
    {% if not success %}
    <div class="keyboard">
      <div class="row">
        <button id="q">Q</button>
        <button id="w">W</button>
        <button id="e">E</button>
        <button id="r">R</button>
        <button id="t">T</button>
        <button id="y">Y</button>
        <button id="u">U</button>
        <button id="i">I</button>
        <button id="o">O</button>
        <button id="p">P</button>
      </div>
      <div class="row">
        <button id="a">A</button>
        <button id="s">S</button>
        <button id="d">D</button>
        <button id="f">F</button>
        <button id="g">G</button>
        <button id="h">H</button>
        <button id="j">J</button>
        <button id="k">K</button>
        <button id="l">L</button>
      </div>
      <div class="row">
        <button id="enter">
          <i class="fa-solid fa-arrow-right-to-bracket"></i>
        </button>
        <button id="z">Z</button>
        <button id="x">X</button>
        <button id="c">C</button>
        <button id="v">V</button>
        <button id="b">B</button>
        <button id="n">N</button>
        <button id="m">M</button>
        <button id="backspace">
          <i class="fa fa-backspace"></i>
        </button>
      </div>
    </div>{% endif %}
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://unpkg.com/html5-qrcode" type="text/javascript">
  <script src="{% static '/js/game.js' %}"></script>
  <script src="{% static '/js/help.js' %}"></script>
  <script src="{% static '/js/navbar.js' %}"></script>
</html>